

@font-face {
  font-family: "PhosphateRegular";
  src: url("../fonts/PhosphateRegular.otf");
  }

  @font-face {
  font-family: "MyriadBold";
  src: url("../fonts/MyriadPro-Bold.otf");
  }

  body {
    font-family: 'MyriadBold';
    background-image: linear-gradient(180deg,#61dd56,#32b82b);
    overflow-x: hidden;
    height: -webkit-fill-available;
  }

  .flag {
    height: 32px;
    object-fit: contain;
  }

  .membersignin {
      font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    height: 36px;
    font-size: 27px;
    position: absolute;
    right: 120px;
  }

  .winner-section {
    text-shadow: 0 2px 4px #000000;
    font-family: Phosphate-Inline;
    font-size: 77px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffe800;
  }
  .frame {

    height: auto;
    width: 560px;
    padding: 20px;
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffe800;
    margin: 0 auto;
  }

  .copyright a {
      padding: 20px;
          text-decoration: none;
  }

  .copyright a:hover{
      color: #7ED321 !important;
      cursor: pointer;
  }


  .flags {
      padding-top: 0px;
  }

  .phflag {
      padding-left: 20px;
  }

  .trs {
     text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px #1d2129;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    color: #ffffff;
         margin-left: 80px;
      margin-top: 90px;

  }

  .home-normal-text{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px #1d2129;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding : 20px;
  }

  .orangebutton  {
       width: 350px;
      height: 80px;
      border-radius: 59px;
      box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #f85a0c;
      color: #fff;
      font-size: 37px;
      font-weight: bold;
  }

  .signuptowincash {
    text-shadow: 0 2px 4px #000000;
    font-family: Phosphate-Inline;
    font-size: 75px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: center;
    color: #ffe800;
        margin: 40px auto 0 auto;
  }

  .howitworks {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
     text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px #1d2129;
  }

  .p20 {
      padding: 20px;
  }

  .contact textarea{
      width: 782px;
    height: 245px;
    border-radius: 4px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
  }

  .about, .tos {
      padding: 50px;
      text-align: left;
      line-height: 2;
      margin: 0 auto;
  }
  .about p, .tos p {
      padding-top: 20px;
  }
  .about h1, .tos h1{
      color:#fff;
  }

  h1 {
    font-family: 'PhosphateRegular'!important;
    text-shadow: 0 2px 4px #000000;
    font-family: Phosphate-Inline;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffe800;
  }

  .followuson {
      padding: 20px;
  }
  .followuson img {
      padding: 20px;
  }
  .followuson p {

    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .active {color:#7ED321;}

  h2 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px!important;
    font-family: 'PhosphateRegular'!important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .signup-form label{
      text-transform: uppercase;
     text-shadow: 0 2px 4px #1d2129;
  }


  .signup h1 {
      font-size:40px!important;
      padding: 0px;
      margin-bottom: 0px;
  }

  .secondlayer {
      margin-top: -20px;
      margin-bottom: 10px!important;
  }

  .signup input {
      border-color:transparent;
      display: inline-block;
  }



  .title {
  font-size : 3.8em!important}
  .margin20 {
  margin-top: 20px;}
  .textleft {
  text-align: left;}
  .textright {
      text-align: right;
  }



  hr.star-light,
  hr.star-dark {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 0.25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .yellow {
      color : #FFE800 !important;
  }

  .signupcontainer{
      margin-top: 150px;
      margin-right: 0;
      margin-left: 30px;
  }
  .textcenter {
      text-align: center;
  }


  .vl {
  border-left: 5px solid white;
      border-radius: 50px;
    height: 100vh;
  }

  .greatjob{
      background-color: #F85A0C;
      background: 0px 18px 42px -8px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 18px 42px -8px rgba(0,0,0,0.58);
  box-shadow: 0px 18px 42px -8px rgba(0,0,0,0.58);
      padding: 10px 10px 18px 10px;
      margin: 20px;
      border-radius: 10px;
  }

  .greatjob h2 {
      text-align: center;
      line-height: 5px;

  }


  .center {margin: 0 auto;}
  /*checkbox*/
  .earn {
          display: inline-block;
      margin-bottom: 0px;
      line-height: 2;
          margin-left: 30px;
  }
  .checkbox label:before {
      content: "";
      width: 37px;
      height: 36px;
      position: absolute;
      left: 80px;
      top: -4px;
    }

    .agree_checkbox label:before {
        content: "";
        width: 37px;
        height: 36px;
        position: absolute;
        left: 5px;
        top: -4px;
      }
      .agree_checkbox .earn:before {
          background: url('../img/circle.png') left center no-repeat;
               margin-top: 2px;
        }
  input[type=checkbox] {
        display: none;
    }

  .checkbox .earn:before {
      background: url('../img/circle.png') left center no-repeat;
           margin-top: 2px;
    }

  input[type=checkbox]:checked + .earn:before {
        background: url('../img/circlecheck.png') left center no-repeat;
    }


  /*checkbox end*/
  .dropdown {
    width:75px !important;
    -webkit-appearance: none;
    -moz-appearance: window;

    border: none;
    background-image:url(../img/caret-down2.png);
   background-repeat: no-repeat;
   background-position: 95% center;
  }

  hr.star-light:after,
  hr.star-dark:after {
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0 0.25em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
  }

  hr.star-light {
    border-color: #fff;
  }

  hr.star-light:after {
    color: #fff;
    background-color: #F85A0C;
  }

  hr.star-dark {
    border-color: #2C3E50;
  }

  hr.star-dark:after {
    color: #2C3E50;
    background-color: white;
  }

  section {
    padding: 6rem 0;
  }

  section h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }

  .navbar-brand img {
      height: 60px;
  }
  @media (min-width: 992px) {
    section h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }

  .btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
  }

  .btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }

  .scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
  }

  #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: 'MyriadBold';
  }

  #mainNav .navbar-brand {
    color: #fff;
  }

  #mainNav .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
  }

  #mainNav .navbar-nav li.nav-item a.nav-link {
    color: #4A4A4A;
  }

  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #7ED321;
  }

  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #4A4A4A;
  }

  #mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #18BC9C;
  }
  a.nav-link {
      text-decoration: none;
      line-height: 2.5;
  }

  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top:0;
      padding-bottom:0;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    #mainNav .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    #mainNav .navbar-nav {
      margin-top: 0;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #7ED321;
      background: none;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
      color: #7ED321;
      background: none;
    }
    #mainNav.navbar-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em;
    }
  }
  header.masthead {
    padding-top: calc(5rem + 0px);
    padding-bottom: 6rem;
  }

  header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'MyriadBold';
     margin-top:20px;
  }

  @media (min-width: 992px) {
    header.masthead {
      padding-top: calc(5rem + 0px);
      padding-bottom: 6rem;
    }
    header.masthead h1 {
      letter-spacing: 2px;
      font-size: 4.75em;
      line-height: 4rem;
        text-shadow: 0px 0px 13px rgba(8, 0, 0, 0.6);
    }
    header.masthead h2 {
      font-size: 1.75em;

    }
  }

  .portfolio {
    margin-bottom: -15px;
  }

  .portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
  }

  .portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: rgba(24, 188, 156, 0.9);
  }

  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
  }

  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }

  @media (min-width: 576px) {
    .portfolio {
      margin-bottom: -30px;
    }
    .portfolio .portfolio-item {
      margin-bottom: 30px;
    }
  }

  .portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  }

  .portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .portfolio-modal .portfolio-modal-dialog .close-button i {
    line-height: 38px;
  }

  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    .portfolio-modal .portfolio-modal-dialog {
      min-height: 100vh;
      padding: 5rem;
      margin: 3rem calc(3rem - 8px);
    }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 3rem;
    }
  }

  .floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
  }

  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
  }

  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef;
  }

  .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }

  .floating-label-form-group-with-focus label {
    color: #18BC9C;
  }

  form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef;
  }

  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2C3E50;
    color: #fff;
  }

  .copyright {
    background-color: #165C10;
    width: 100%;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  a:focus, a:hover, a:active {
    color: #000;
  }

  .btn {
    border-width: 2px;
  }

  .bg-primary {
  background-image: linear-gradient(to bottom, #61dd56, #32b82b);

  }

  .bg-secondary {
    background-color: #fff !important;
  }

  .text-primary {
    color: #18BC9C !important;
  }

  .text-secondary {
    color: #2C3E50 !important;
  }

  .btn-primary {
    background-color: #F85A0C;
    border-color: #F85A0C;
    border-radius: 100px;
      width: 400px;
      font-weight: bolder;
      font-size: x-large;

      -webkit-box-shadow: 0px 15px 35px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 15px 35px -14px rgba(0,0,0,0.75);
  box-shadow: 0px 15px 35px -14px rgba(0,0,0,0.75);
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #C0531D;
    border-color: #C0531D;
  }

  .btn-secondary {
    background-color: #2C3E50;
    border-color: #2C3E50;
  }

  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #1a252f;
    border-color: #1a252f;
  }

  .mainlogo { margin: 40px 0px 20px 80px;
    width: 400px;
  }

  .whitetext {
    color:#fff;
  }

  .form-control, textarea {
    width : 250px;
     box-shadow: 0 2px 4px #1d2129;
  }

  .maincontainer {
    margin: 0 auto;
    width: 100%;
  }

.masthead{
    width:1280px;
      margin: 0 auto;
}
.textleft.trs{
    font-size:7.75rem;
    line-height: 6rem;
}
#exitButton{
    float:right;
}
.signup-form{
    padding-top:130px;
    padding-bottom: 120px;
}
.about.contact .signup-form{
    padding-top:40px;
    padding-bottom: 0;
}
.about span{
    font-size: 1.75rem;
    color:black;
}
.tos span, h3, li{
    color:black;
}

.modal-body h1{
    font-size: 76px;
}
.modal-body .col-sm-2{
    display: table;
}
.modal-body .col-sm-2 img{
    height: 80px;
}
.signupform{
    margin: -120px 30%;
}
.contacth1{
    padding-left:102px;
}
.col-sm-1.ob{
    padding-left:102px;
    padding-bottom:40px;
}
.col.winner-section{
    font-size: 63px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.maincontainer, #mainNav, .copyright, .container {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.masthead, .signupform{
    margin: 0 auto;
    width:90%;
}
    
.col.winner-section{
    margin: 30px 0;
    font-size: 7vw;
}
.congratulations .p20{
    font-size: 10vw;
}
.welcomeback .col-7 h1{
    font-size: 10vw;
    padding-right: 20px;
}
.mainlogo { 
    margin: 4rem auto 2rem -10px;
    padding-right:10px;
    width: calc(30vw + 50px);
    max-width: 190%;
}
    
.textleft.trs{
    margin: 80px 2.5rem 0 1.5rem;
    font-size:10vw;
    line-height:10vw;
}
.trs {
    margin-left: 30px;
    margin-top: 65px;
}
.signup-form{ /**sign in form**/
    text-align: left;
    margin: 0 auto;
    padding:0 0 100px 0;
}
    .row.signin input{
        width: 250px;
        margin: 0 auto;
    }
.row.signin{
    margin: 00 auto;
    width: inherit;
}
.row.signin .col-sm-5{
    margin: 0 auto;
    padding:0;
}
.row.signin .col-4{
    width: 90%;
    padding: 0;
    display:block;
    margin: 0 13px;
}
.row.signin .col-8{
    width: 300px;
    padding: 0 250px 0 20px;
    margin: 0 auto;
}   
.row.signin .col-4 img{
    width: 250px;
    display: block;
    margin-left: 40px;
} 
.row.signin label{
    text-align: left;
    padding-left: 0;
}

.membersignin {
    font-size: 5vw;
    right: 20px;
    top: 25px;
}
.home-normal-text{
    font-size: 30px;
    padding: 10px;
}
    
.orangebutton  {
    width: 250px;
    height: 60px;
    font-size: 27px;
}
.winner-section {
    margin-top: 10px;
    font-size: 37px;
}
.frame {
    height: auto;
    width: 100%;
    padding: 7px;
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffe800;
    margin: 0 auto;
}
.container a{
    padding: 5px;
}
.followuson {
    padding: 10px;
}
.followuson img {
    height: 65px;
    padding: 5px;
}
.followuson p {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.about span{
    font-size: 1.2rem;
    color:black;
}
.about, .tos {
    width: 100%;    
    padding: 25px;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
}
.about p, .tos p {
    padding-top: 20px;
}
.about h1, .tos h1{
    color:#fff;
}
.about.contact{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}
.about.contact form, .about.contact .signup-form{
    margin: 0 auto;
    text-align:left;
}
.about.contact textarea{
    width: 250px;
}
.contacth1{
    padding-left: 0;
}
.col-sm-1.ob{
    padding-left:0;
    padding-bottom:40px;
}   
.modal-body{
    width: 99%; 
    margin: 0 auto;
}
.modal-body .col, .modal-body .col-sm-2, .modal-body .row{
    padding: 0;
}
.modal-body img{
    height: 200px;
    display: block;
    margin: 0 auto;
}
.modal-body .col-sm-2 img{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.modal-body h1{
    font-size: 10vw;
}
#exitButton img{
    width: 50px;
}
.signuptowincash {
    font-size: 55px;
    line-height: 1.27;
    margin: 40px auto 0 auto;
}
    .col.winner-section.r{
        width: 300px;
        padding: 10px;
        margin-top: 250px;
        margin-left: -100%;
    }
    .col.winner-section.r .frame{
        margin: 0 auto;
    }
    .mainlogo.signup{
        width:  250px;
        display: block;
        margin: 4rem auto 2rem auto;
    }
    .mainlogosignup{
        width: 300px;
        padding:0;
        margin-top: -30px;
    }
    .su, .su .signupform{
        margin: 0 auto;
        width:99%;
    }
    #signup-form {
        width: 310px;
        margin:0 auto;
        padding: 10px 10px;
    }
    #signup-form .form-group{
        width: 310px;
        margin:0 auto;
        padding:0;
    }
    #inputState{
        margin-left:-15px;
    }
    #signup-form .col-sm-3 input{
        margin-left:-107px;
        margin-top: -3px;
    }
    #signup-form .col-sm-4, #signup-form .col-sm-5{
        padding-left:0;
    }
    #signup-form .col-sm-3{
        margin-left:175px;  
        margin-top: -35px;
    }
    .agree_checkbox{
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .agree_checkbox .earn:before{
        margin-left: -20px;
    }
    .earn a{
        padding:0;
        margin-left: -20px;
    }
    #signup-form .col-sm-7{
        margin: 0 auto;
        margin-left: -22px;
    }
    #signup-form .col-sm-10 button{
        display: block;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.maincontainer, #mainNav, .copyright, .container {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.masthead, .signupform{
    margin: 0 auto;
    width:90%;
}
    
.col.winner-section{
    margin: 30px 0;
    font-size: 7vw;
}
.congratulations .p20{
    font-size: 10vw;
}
.welcomeback .col-7 h1{
    font-size: 10vw;
    line-height: 10vw;
    padding-right: 20px;
}
.mainlogo { 
    margin: 4rem auto 2rem -10px;
    padding-right:10px;
    width: calc(30vw + 50px);
    max-width: 190%;
}
    
.textleft.trs{
    margin: 80px 2.5rem 0 1.5rem;
    font-size:10vw;
    line-height:10vw;
}
.trs {
    margin-left: 30px;
    margin-top: 65px;
}
    .row.signin .col-8{
        padding-left: 50px;
    }

.membersignin {
    font-size: 2rem ;
    right: 20px;
    top: 25px;
}
.home-normal-text{
    font-size: 30px;
    padding: 10px;
}
    
.orangebutton  {
    width: 250px;
    height: 60px;
    font-size: 27px;
}
.winner-section {
    margin-top: 10px;
    font-size: 37px;
}
.frame {
    height: auto;
    width: 100%;
    padding: 7px;
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffe800;
    margin: 0 auto;
}
.container a{
    padding: 5px;
}
.followuson {
    padding: 10px;
}
.followuson img {
    height: 65px;
    padding: 5px;
}
.followuson p {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.about span{
    font-size: 1.2rem;
    color:black;
}
.about, .tos {
    width: 100%;    
    padding: 25px;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
}
.about p, .tos p {
    padding-top: 20px;
}
.about h1, .tos h1{
    color:#fff;
}
.about.contact{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.about.contact form, .about.contact .signup-form,.about.contact .row{
    margin: 0 auto;
    text-align:left;
    display: block;
}
.about.contact textarea{
    width: 400px;
}
.contacth1{
    padding-left: 0;
}
.col-sm-1.ob{
    padding-left:10px   ;
    padding-bottom:40px;
}   
.modal-body{
    width: 99%; 
    margin: 0 auto;
}
.modal-body .col, .modal-body .col-sm-2, .modal-body .row{
    padding: 0;
}
.modal-body img{
    height: 30vh;
    display: block;
    margin-left: 0;
}
.modal-body .col-sm-2 img{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.modal-body h1{
    font-size: 8vw;
    margin-left: -50px;
    padding-bottom: 20px;
}
#exitButton img{
    width: 50px;
}
.signuptowincash {
    font-size: 55px;
    line-height: 1.27;
    margin: 40px auto 0 auto;
}
    #signup-form{
        width: 450px;
        margin: -100px auto;
    }
    #signup-form .col-sm-3 input{ 
        margin-left: 5px;
    }
    .agree_checkbox{
        margin-left: 150px;
    }
    .agree_checkbox .earn:before{
        margin-left: -40px;
    }
    .earn a{
        padding:0;
        margin-left: -20px;
    }
    #signup-form .col-sm-7{
        margin: 0 auto;
    }
    #signup-form .col-sm-10 button{
        margin: 0 auto;
    }
    
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
.maincontainer, #mainNav, .copyright, .container {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.masthead, .signupform{
    margin: 0 auto;
    width:90%;
}
    
.col.winner-section{
    margin: 30px 0;
    font-size: 7vw;
}
.congratulations .p20{
    font-size: 10vw;
}
.welcomeback .col-7 h1{
    font-size: 10vw;
    line-height: 10vw;
    padding-right: 20px;
}
.mainlogo { 
    margin: 4rem auto 2rem -10px;
    padding-right:10px;
    width: calc(30vw + 50px);
    max-width: 190%;
}
    
.textleft.trs{
    margin: 80px 2.5rem 0 1.5rem;
    font-size:10vw;
    line-height:10vw;
}
.trs {
    margin-left: 30px;
    margin-top: 65px;
}
    .row.signin .col-8{
        padding-left: 50px;
    }

.membersignin {
    font-size: 2rem ;
    right: 20px;
    top: 25px;
}
.home-normal-text{
    font-size: 30px;
    padding: 10px;
}
    
.orangebutton  {
    width: 250px;
    height: 60px;
    font-size: 27px;
}
.winner-section {
    margin-top: 10px;
    font-size: 37px;
}
.frame {
    height: auto;
    width: 100%;
    padding: 7px;
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffe800;
    margin: 0 auto;
}
.container a{
    padding: 5px;
}
.followuson {
    padding: 10px;
}
.followuson img {
    height: 65px;
    padding: 5px;
}
.followuson p {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.about span{
    font-size: 1.2rem;
    color:black;
}
.about, .tos {
    width: 100%;    
    padding: 25px;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
}
.about p, .tos p {
    padding-top: 20px;
}
.about h1, .tos h1{
    color:#fff;
}
.about.contact{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.about.contact form, .about.contact .signup-form,.about.contact .row{
    margin: 0 auto;
    text-align:left;
    display: block;
}
.about.contact textarea{
    width: 400px;
}
.contacth1{
    padding-left: 0;
}
.col-sm-1.ob{
    padding-left:10px   ;
    padding-bottom:40px;
}   
.modal-body{
    width: 99%; 
    margin: 0 auto;
}
.modal-body .col, .modal-body .col-sm-2, .modal-body .row{
    padding: 0;
}
.modal-body img{
    height: 20rem;
    display: block;
    margin-left: 0;
}
.modal-body .col-sm-2 img{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.modal-body h1{
    font-size: 7vw;
    margin-left: -50px;
    padding-bottom: 20px;
}
#exitButton img{
    width: 50px;
}
.signuptowincash {
    font-size: 55px;
    line-height: 1.27;
    margin: 40px auto 0 auto;
}
    #signup-form{
        width: 450px;
        margin: -100px auto;
    }
    #signup-form .col-sm-3 input{ 
        margin-left: 5px;
    }
    .agree_checkbox{
        margin-left: 150px;
    }
    .agree_checkbox .earn:before{
        margin-left: -40px;
    }
    .earn a{
        padding:0;
        margin-left: -20px;
    }
    #signup-form .col-sm-7{
        margin: 0 auto;
    }
    #signup-form .col-sm-10 button{
        margin: 0 auto;
    }
    
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 575px) {
.maincontainer, #mainNav, .copyright, .container {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.masthead, .signupform{
    margin: 0 auto;
    width:480px;  
}
    
.col.winner-section{
    margin: 30px 0;
    font-size: 7vw;
}
.congratulations .p20{
    font-size: 10vw;
}
.welcomeback .col-7 h1{
    font-size: 10vw;
    padding-right: 20px;
}
.mainlogo { 
    margin: 4rem auto 2rem -10px;
    padding-right:10px;
    width: calc(30vw + 50px);
    max-width: 190%;
}
    
.textleft.trs{
    margin: 80px 2.5rem 0 1.5rem;
    font-size:10vw;
    line-height:10vw;
}
.trs {
    margin-left: 30px;
    margin-top: 65px;
}
.signup-form{ /**sign in form**/
    text-align: left;
    margin: 0 auto;
    padding:0 0 100px 0;
}
    .row.signin input{
        width: 250px;
        margin: 0 auto;
    }
.row.signin{
    margin: 00 auto;
    width: inherit;
}
.row.signin .col-sm-5{
    margin: 0 auto;
    padding:0;
}
.row.signin .col-4{
    width: 90%;
    padding: 0;
    display:block;
    margin: 0 13px;
}
.row.signin .col-8{
    width: 300px;
    padding: 0 250px 0 20px;
    margin: 0 auto;
}   
.row.signin .col-4 img{
    width: 250px;
    display: block;
    margin-left: 40px;
} 
.row.signin label{
    text-align: left;
    padding-left: 0;
}

.membersignin {
    font-size: 5vw;
    right: 20px;
    top: 25px;
}
.home-normal-text{
    font-size: 30px;
    padding: 10px;
}
    
.orangebutton  {
    width: 250px;
    height: 60px;
    font-size: 27px;
}
.winner-section {
    margin-top: 10px;
    font-size: 37px;
}
.frame {
    height: auto;
    width: 100%;
    padding: 7px;
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffe800;
    margin: 0 auto;
}
.container a{
    padding: 5px;
}
.followuson {
    padding: 10px;
}
.followuson img {
    height: 65px;
    padding: 5px;
}
.followuson p {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.about span{
    font-size: 1.2rem;
    color:black;
}
.about, .tos {
    width: 100%;    
    padding: 25px;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
}
.about p, .tos p {
    padding-top: 20px;
}
.about h1, .tos h1{
    color:#fff;
}
.about.contact{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}
.about.contact form, .about.contact .signup-form{
    margin: 0 auto;
    text-align:left;
}
.about.contact textarea{
    width: 250px;
}
.contacth1{
    padding-left: 0;
}
.col-sm-1.ob{
    padding-left:0;
    padding-bottom:40px;
}   
.modal-body{
    width: 99%; 
    margin: 0 auto;
}
.modal-body .col, .modal-body .col-sm-2, .modal-body .row{
    padding: 0;
}
.modal-body img{
    height: 200px;
    display: block;
    margin: 0 auto;
}
.modal-body .col-sm-2 img{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.modal-body h1{
    font-size: 10vw;
}
#exitButton img{
    width: 50px;
}
.signuptowincash {
    font-size: 55px;
    line-height: 1.27;
    margin: 40px auto 0 auto;
}
    .col.winner-section.r{
        width: 300px;
        padding: 10px;
        margin-top: 250px;
        margin-left: -100%;
    }
    .col.winner-section.r .frame{
        margin: 0 auto;
    }
    .mainlogo.signup{
        width:  250px;
        display: block;
        margin: 4rem auto 2rem auto;
    }
    .mainlogosignup{
        width: 300px;
        padding:0;
        margin-top: -30px;
    }
    .su, .su .signupform{
        margin: 0 auto;
        width:480px;  
    }
    #signup-form {
        width: 310px;
        margin:0 auto;
        padding: 10px 10px;
    }
    #signup-form .form-group{
        width: 310px;
        margin:0 auto;
        padding:0;
    }
    #inputState{
        margin-left:-15px;
    }
    #signup-form .col-sm-3 input{
        margin-left:-107px;
        margin-top: -3px;
    }
    #signup-form .col-sm-4, #signup-form .col-sm-5{
        padding-left:0;
    }
    #signup-form .col-sm-3{
        margin-left:175px;  
        margin-top: -35px;
    }
    .agree_checkbox{
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .agree_checkbox .earn:before{
        margin-left: -20px;
    }
    .earn a{
        padding:0;
        margin-left: -20px;
    }
    #signup-form .col-sm-7{
        margin: 0 auto;
        margin-left: -22px;
    }
    #signup-form .col-sm-10 button{
        display: block;
    }
  
}
@media (min-width: 576px) and (max-width: 767px) {
.maincontainer, #mainNav, .copyright, .container {
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.masthead, .signupform{
    margin: 0 auto;
    width:90%;
}
    
.col.winner-section{
    margin: 30px 0;
    font-size: 7vw;
}
.congratulations .p20{
    font-size: 10vw;
}
.welcomeback .col-7 h1{
    font-size: 10vw;
    line-height: 10vw;
    padding-right: 20px;
}
.mainlogo { 
    margin: 4rem auto 2rem -10px;
    padding-right:10px;
    width: calc(30vw + 50px);
    max-width: 190%;
}
    
.textleft.trs{
    margin: 80px 2.5rem 0 1.5rem;
    font-size:10vw;
    line-height:10vw;
}
.trs {
    margin-left: 30px;
    margin-top: 65px;
}
    .row.signin .col-8{
        padding-left: 50px;
    }

.membersignin {
    font-size: 2rem ;
    right: 20px;
    top: 25px;
}
.home-normal-text{
    font-size: 30px;
    padding: 10px;
}
    
.orangebutton  {
    width: 250px;
    height: 60px;
    font-size: 27px;
}
.winner-section {
    margin-top: 10px;
    font-size: 37px;
}
.frame {
    height: auto;
    width: 100%;
    padding: 7px;
    box-shadow: 0 15px 14px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffe800;
    margin: 0 auto;
}
.container a{
    padding: 5px;
}
.followuson {
    padding: 10px;
}
.followuson img {
    height: 65px;
    padding: 5px;
}
.followuson p {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.about span{
    font-size: 1.2rem;
    color:black;
}
.about, .tos {
    width: 100%;    
    padding: 25px;
    text-align: left;
    line-height: 2;
    margin: 0 auto;
}
.about p, .tos p {
    padding-top: 20px;
}
.about h1, .tos h1{
    color:#fff;
}
.about.contact{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.about.contact form, .about.contact .signup-form,.about.contact .row{
    margin: 0 auto;
    text-align:left;
    display: block;
}
.about.contact textarea{
    width: 400px;
}
.contacth1{
    padding-left: 0;
}
.col-sm-1.ob{
    padding-left:10px   ;
    padding-bottom:40px;
}   
.modal-body{
    width: 99%; 
    margin: 0 auto;
}
.modal-body .col, .modal-body .col-sm-2, .modal-body .row{
    padding: 0;
}
.modal-body img{
    height: 30vh;
    display: block;
    margin-left: 0;
}
.modal-body .col-sm-2 img{
    height: 70px;
    display: block;
    margin: 0 auto;
}
.modal-body h1{
    font-size: 8vw;
    margin-left: -50px;
    padding-bottom: 20px;
}
#exitButton img{
    width: 50px;
}
.signuptowincash {
    font-size: 55px;
    line-height: 1.27;
    margin: 40px auto 0 auto;
}
    #signup-form{
        width: 450px;
        margin: -100px auto;
    }
    #signup-form .col-sm-3 input{ 
        margin-left: 5px;
    }
    .agree_checkbox{
        margin-left: 150px;
    }
    .agree_checkbox .earn:before{
        margin-left: -40px;
    }
    .earn a{
        padding:0;
        margin-left: -20px;
    }
    #signup-form .col-sm-7{
        margin: 0 auto;
    }
    #signup-form .col-sm-10 button{
        margin: 0 auto;
    }
    
}
